body {
    background-color: powderblue;


}

ul {
    color: rgb(33, 15, 234);

}

h2 {
    text-align: center;
}

.contact-box {
    color: white;
    text-align: center;
    background-color: black
}

img {
    border-color: black;
    border-width: 5px;
    border-style: dashed;
}

a:link {
    color: blue;
    text-decoration: underline;
}

a:visited {
    color: aqua;
}

a:hover {
    color: red;
}

a:active {
    color: yellow;
}

.list {

    margin: 20px auto;
    width: fit-content
}